<div class="about-container">
  <h1>Chi sono</h1>
  <p class="subtitle">Corso DotNet + Angular</p>

  <div class="card">
    <h2>Il Progetto</h2>
    <p>
      Questa applicazione è stata realizzata come progetto dimostrativo
      nell'ambito del corso <strong>.NET + Angular</strong>.
      L'obiettivo è mostrare l'integrazione tra un backend in C# e un frontend in Angular.
    </p>
  </div>

  <div class="card">
    <h2>Tecnologie utilizzate</h2>
    <ul>
      <li>Angular</li>
      <li>ASP.NET Core Web API</li>
      <li>TypeScript</li>
      <li>C#</li>
      <li>Entity Framework Core </li>
      <li>sqlServer</li>
      <li>Bootstrap </li>
    </ul>
  </div>

  <div class="card">
    <h2>Contatti</h2>
    <p>Per informazioni o domande, contattami all'indirizzo email:</p>
    <p> <span class="manno">k.manno&#64;betacom.it</span></p>
    <div class="social-links">
   <p ><span class="manno">k.manno15&#64;gmail.com</span></p>
  </div>
</div>


  <div class="card">
    <h2>Tecnologie conosciute</h2>
    <ul>
      <li>HTML</li>
      <li>CSS</li>
      <li>JavaScript</li>
      <li>TypeScript</li>
      <li>Angular</li>
      <li>Node.js</li>
      <li>PHP</li>
      <li>Laravel</li>
      <li>C#</li>
      <li>ASP.NET Core Web API</li>
      <li>SQL Server</li>
      <li>MongoDB  </li>
      <li>Git</li>
      <li>Docker</li>
    </ul>
  </div>
