@if (authService.isLoggedIn()) {
  <nav class="navbar">
    <div class="nav-brand">Corso DotNet + Angular  </div>
    <ul class="nav-links">
      <li><a routerLink="/dashboard" routerLinkActive="active-link">Dashboard</a></li>
      <li><a routerLink="/utenti" routerLinkActive="active-link">Utenti</a></li>
      <li><a routerLink="/libri" routerLinkActive="active-link">Ore lavorative</a></li>
      <li><a routerLink="/about" routerLinkActive="active-link">About</a></li>
    </ul>
    <button class="btn-logout" (click)="logout()">Logout</button>
  </nav>
}

<router-outlet />
